{% load staticfiles %}

<script type = "text/javascript">
/* Global variables */
var teams = {"home": {}, "away": {}};
var ball_data = {};
var index = 0;
var animationPaused = true;
var circles = {"home":{}, "away":{}, "ball":{}};

function animation()
{
    var btn = document.getElementById("playButton");
    if(animationPaused)
    {
        btn.value = "playing";
        btn.innerHTML = '<i class="fa fa-pause"></i>';
        animationPaused = false;
    }
    else
    {
        btn.value = "paused";
        btn.innerHTML = '<i class="fa fa-play"></i>';
        animationPaused = true;
    }
}

function init()
{
    var svg = d3.select("svg");

    for(var player in teams["home"])
    {
        var frame = teams["home"][player][0];

        circles["home"][player] = svg.append("g").attr("transform",
                                                       "translate(" + convertCoordStr(frame.x, frame.y) +")");

        circles["home"][player].append("circle")
                               .attr("r", 10)
                               .attr("stroke", "black")
                               .attr("stroke-width", 2)
                               .style("fill", "steelblue");

        circles["home"][player].append("text")
                               .style("font-family", "Times New Roman")
                               .style("font-size", 14)
                               .style("fill", "white")
                               .attr("text-anchor", "middle")
                               .attr("alignment-baseline", "middle")
                               .text(player);

    }

    for(var player in teams["away"])
    {
        var frame = teams["away"][player][0];

        circles["away"][player] = svg.append("g").attr("transform",
                                                       "translate(" + convertCoordStr(frame.x, frame.y) +")");

        circles["away"][player].append("circle")
                               .attr("r", 10)
                               .attr("stroke", "black")
                               .attr("stroke-width", 2)
                               .style("fill", "red");

        circles["away"][player].append("text")
                               .style("font-family", "Times New Roman")
                               .style("font-size", 14)
                               .style("fill", "white")
                               .attr("text-anchor", "middle")
                               .attr("alignment-baseline", "middle")
                               .text(player);
    }

    circles["ball"] = svg.append("circle").attr("cx", 50 + 1050/2).attr("cy", 20 + 680/2)
                                                                  .attr("r", 4)
                                                                  .attr("fill", "white");

};

function update() {
    var ballFrame = ball_data.next();
    var currentFrame = ballFrame.n;

    xy = convertCoord(ballFrame.x, ballFrame.y);
    circles["ball"].attr("cx", xy[0]).attr("cy", xy[1]).attr("r", 4+ballFrame.z/8);

    for(t in teams)  // "home", "away"
    {
        for(var p in teams[t])
        {
            var frame = teams[t][p].next(); //[index];

            if(frame)
            {
                if(frame.n == currentFrame)
                {
                    // In the game, update
                    circles[t][p].attr("transform",
                                       "translate(" + convertCoordStr(frame.x, frame.y) + ")");
                }
                else
                {
                    // Not in the game yet
                    teams[t][p].prev();
                }
            }
            else
            {
                // Substituted
                if(t == "home")
                    circles[t][p].attr("transform", "translate(20,700)");
                else
                    circles[t][p].attr("transform", "translate(1130,700)");

            }
        }
    }
}

function convertCoord(x, y)
{
    x = x*10 + 575; // 50 + 1050/2 (x offset + half width)
    y = y*10 + 360; // 20 + 680/2 (y offset + half height)

    return [x, y];
};

function convertCoordStr(x, y)
{
    x = x*10 + 575; // 50 + 1050/2 (x offset + half width)
    y = y*10 + 360; // 20 + 680/2 (y offset + half height)

    return " " + x + ", " + y + " ";
}

$(document).ready(function() {
    /* Add prev and next methods to array prototype */
    Array.prototype.next = function() {
        return this[++this.current];
    };
    Array.prototype.prev = function() {
        return this[--this.current];
    };
    Array.prototype.current = 0;

    /* Get data */
    teams["home"] = ({{data.home | safe }});
    teams["away"] = ({{data.away | safe }});
    ball_data = ({{data.ball | safe }});
    init();

    document.interval = setInterval(function(){
        if(!animationPaused)
        {
            update();
        }
    }, 40);

});

</script>
