{% extends "base.html" %}
{% load static %}
{% block title %}Ball Possession{% endblock %}

{% block head_style %}
  <style type="text/css">
    .slider.slider-horizontal {
      width: 100%;
      height: 20px;
    }

    .chart {
      shape-rendering: crispEdges;
    }

    .mini text {
      font: 9px sans-serif;
    }

    .main text {
      font: 12px sans-serif;
    }

    .miniItem0 {
      fill: steelblue;
      stroke-width: 6;
    }

    .miniItem1 {
      fill: red;
      fill-opacity: .7;
      stroke-width: 6;
    }

    .miniItem2 {
      fill: slategray;
      fill-opacity: .7;
      stroke-width: 6;
    }

    .brush .extent {
      stroke: gray;
      fill: dodgerblue;
      fill-opacity: .365;
    }
  </style>
{% endblock %}

{% block body_block %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-xs-2 nopad">
                {# <h2 class="text-xs-center">Home Team</h2> #}
                {% include "match/partials/team_sidebar.html" with team=match.home_team %}
            </div>
            <div class="col-xs-8">
                {% include "match/partials/match_visual.html" with match=match %}
            </div>
            <div class="col-xs-2 nopad">
                {# <h2 class="text-xs-center">Away Team</h2> #}
                {% include "match/partials/team_sidebar.html" with team=match.away_team %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script_base %}
  {{ block.super }}
  <script src="{% static 'bower_components/d3/d3.v4.min.js' %}"></script>
  <script src="{% static 'd3-3d/d3-3d.min.js' %}"></script>
{% endblock body_script_base %}

{% block body_script_compressed %}
{# Include js as view #}
{% include "match/partials/ball_possession.js.html" with match=match data=data %}
{% include "match/partials/match_timeline.js.html" with match=match %}
{% endblock body_script_compressed %}
