{% extends "base.html" %}
{% load static %}
{% block title %}Match Detail{% endblock %}

{% block head_style %}
  <style type="text/css" src="{% static 'css/timeline.css' %}"></style>
{% endblock %}

{% block body_block %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-xs-2 nopad">
                {# <h2 class="text-xs-center">Home Team</h2> #}
                {% include "match/partials/team_sidebar.html" with team=match.home_team %}
            </div>
            <div class="col-xs-8">
                {% include "match/partials/match_visual.html" with match=match %}
            </div>
            <div class="col-xs-2 nopad">
                {# <h2 class="text-xs-center">Away Team</h2> #}
                {% include "match/partials/team_sidebar.html" with team=match.away_team %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script_compressed %}
{# Include js as view #}
{% include "match/partials/match_visual.js.html" with match=match data=data %}
{% include "match/partials/match_timeline.js.html" with match=match %}
{% endblock body_script_compressed %}
