{% extends "base.html" %}
{% block title %}Match List{% endblock %}
{% block body_block %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
            <h1>DEBUG</h1>
            <div class="list-group">
            {% for match in match_list %}
              <a href="{% url "ball_possession" match.pk %}" class="list-group-item">
                {{ match.game_title }}
              </a>
            {% endfor %}
            </div>

            <h1>Match Table</h1>
                {% include "match/partials/match_list_table.html" with match_list=match_list %}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
{% endblock %}
