{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    {% compress css %}
      {% block head_style_base %}
      <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/master.css' %}" rel="stylesheet">
      {% endblock head_style_base %}
    {% endcompress %}

    {% compress css %}
      {% block head_style %}{% endblock head_style %}
    {% endcompress %}
  </head>
  <body>
    {% include "partials/navbar.html" %}

    {% block body_block %}{% endblock %}

    {% compress js %}
      {% block body_script_base %}
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
      {% endblock body_script_base %}
    {% endcompress %}

    {% compress js %}
      {% block body_script_compressed %}{% endblock body_script_compressed %}
    {% endcompress %}

    {% block body_script_uncompressed %}{% endblock body_script_uncompressed %}
  </body>
</html>
